* {
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color:midnightblue;
}
.main_div{
  margin: 0 auto;
  width: 65vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_div{
  width: 60%;
  background-color:whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div_image{
  width:40%;
  height: 100vh;
}
.div_image>img{
  width: 100%;
  height: 100%;
}

.right_one{
  padding: 30px 0 40px 40px;
}

.right_one>h2{
  margin-bottom: 2rem;
}

.right_form_two{
  width: 100%;
}

.div_section{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding:1em;

  border: 1px solid #ccc;
}

.div_section>section{
  width: 70%;
  margin-left: 20px;
}

.div_section>section:last-child{
  margin-right: 10%;
}

.form_submit{
  margin: 20px 0 20px 40px;
}

.form_submit>.button>button{
  padding: 20px 40px;
  background-color: brown;
  color: ghostwhite;
  border: none;
  font-size: 20px;
}

form {
    margin: 0;
    width: 100%;
  }
  
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: block;
  margin-top: 20px;
}

input{
  font: 1em sans-serif;
  width: 75%;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus{
  border-color: #000;
}


  
 